{
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "plugins": [
    "import",
    "react",
    "react-hooks"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 2
  }
}
